.feedbackUserInputContainer {
  background-image: url("ty3.png");
}

.feedbackUserInputContainer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

.feedbackUserInputContainer .info {
  text-align: center;
  top: 0;
}

.feedbackUserInputContainer .logo {
  margin-top: 75px;
  margin-bottom: 30px;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.2));
  text-align: center;
}

.feedbackUserInputContainer .logo-image {
  width: 150px;
}

.feedbackUserInputContainer .feedback-section {
  width: 100%;
  text-align: center;
}

.feedbackUserInputContainer .smiley-feedback {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.feedbackUserInputContainer .smiley-feedback span {
  display: inline-block;
  margin: 0 10px;
  font-size: 2em;
  cursor: pointer;
}

.feedbackUserInputContainer .smiley-feedback span.clicked {
  animation: rotate 1s infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.feedback-container {
  background-color: rgba(255, 255, 255, 0.87); /* poluprozirna pozadina */
  border-radius: 10px; /* Zaobljeni rubovi */
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sjenčanje */
}

.feedbackUserInputContainer button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.feedbackUserInputContainer button:hover {
  background-color: #0056b3;
}

.feedbackUserInputContainer .negation::before {
  content: "X";
  color: red;
  /* Crvena boja za negaciju */
}

.feedbackUserInputContainer .confirmation::before {
  content: "✓";
  color: green;
  /* Zelena boja za potvrdu */
}

.thankYouScreenContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  /* Promijenjeno u fixed */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 105, 180, 1);
  /* Roza boja s prozirnošću 1 (nepostojeca) */
  z-index: 9999;
  /* Visok z-index kako bi bio iznad ostalog sadržaja */
  padding: 20px;
  box-sizing: border-box;
  /* Dodano kako bi padding bio uračunat u dimenzije */
}



.thankYouScreenContainer .logo {
  margin-top: 75px;
  margin-bottom: 30px;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.2));
  text-align: center;
}

.thankYouScreenContainer .logo-image {
  width: 150px;
}

.thankYouScreenContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('ty1.png');
  /* Dodajemo pozadinu */
  background-size: cover;
  /* Omogućuje da se slika popuni cijeli ekran */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  /* Postavljamo visok z-index kako bi bili sigurni da će biti iznad ostalog sadržaja */
}

/* Dodatni stil za responzivnost */
@media screen and (max-width: 768px) {
  .feedbackUserInputContainer .container {
    padding: 10px;
  }

  .feedbackUserInputContainer .logo {
    margin-bottom: 20px;
  }

  .feedbackUserInputContainer .logo-image {
    width: 120px;
  }

  .feedbackUserInputContainer .smiley-feedback span {
    margin: 0 8px;
    font-size: 1.5em;
  }

  .thankYouScreenContainer {
    padding: 10px;
  }

  .thankYouScreenContainer .logo {
    margin-bottom: 20px;
  }

  .thankYouScreenContainer .logo-image {
    width: 120px;
  }
}