.welcomeScreenContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .video-iframe {
    width: 100%;
    height: 100%;
  }

  .welcome-content {
    font-size: larger;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    animation: fadeInOut 5s infinite;
    /* Koristimo fadeInOut animaciju i činimo je beskonačnom */
    z-index: 2;
    /* Postavi z-index na 2 da bi bio iznad video pozadine */
  }

  h1 {
    color: white;
    background-color: #4E02FF;
    /* Teget plava */
    border-radius: 10px;
    padding: 10px;
  }

  @keyframes fadeInOut {
    0% {
      opacity: 0;
      /* Tekst je nevidljiv na početku animacije */
    }

    10% {
      opacity: 1;
      /* Tekst postaje vidljiv */
    }

    90% {
      opacity: 1;
      /* Tekst ostaje vidljiv */
    }

    100% {
      opacity: 0;
      /* Tekst postaje nevidljiv na kraju animacije */
    }
  }

  .welcome-content.show {
    opacity: 1;
    transform: translate(-50%, -50%) translateY(-20px);
    /* Dodajemo klizeću transformaciju */
  }

  .logo-image {
    max-width: 200px;
    height: auto;
  }

  .goToFeedback-button {
    position: absolute;
    /* Postavljamo na apsolutnu poziciju */
    bottom: 20%;
    /* Pomjeramo 25% od dna stranice */
    left: 50%;
    /* Postavljamo na sredinu horizontalno */
    transform: translate(-50%, 0);
    /* Koristimo transformaciju za fino centriranje */
    padding: 20px 30px;
    font-size: large;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Montserrat';
  }

  .info {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    /* Centriranje horizontalno */
    text-align: center;
    /* Centriranje teksta */
    color: black;
    z-index: 4;
  }

}